// reset
@import 'reset/normalize';
@import 'reset/browsehappy';

// Theme, Variables
@import 'themes/default';

// Structure
@import 'structure/layout';
@import 'structure/section';

// Elements
@import 'elements/section';
@import 'elements/article';
@import 'elements/headings';

@import 'elements/figure';
@import 'elements/image';

@import 'elements/animator';

// Modifiers
@import 'modifiers/borders';
@import 'modifiers/shadows';

body {
  background: $light;
  font-family: $font;
  font-size: $base-unit;
}
