.raise-1 {
  box-shadow: $raise-1;
}
.raise-2 {
  box-shadow: $raise-2;
}
.raise-3 {
  box-shadow: $raise-3;
}


.press-1 {
  box-shadow: $press-1;
}
.press-2 {
  box-shadow: $press-2;
}
.press-3 {
  box-shadow: $press-3;
}
